@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Titan+One&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #00005C;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo {
    color: white;
    font-size: 58px;
    font-family: 'Titan One', cursive;
}
.subtitulo{
    color: white;
    font-size: 36px;
}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.targeta-de-mokepon{

    width: 204px;
    height: 100px;
    background: #11468f;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid hotpink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.targeta-de-mokepon img{
    width: 80px;

}
#boton-mascota{
width: 197px;
height: 50px;
border-radius: 20px;
background: transparent;
border: 2px solid white;
color: white;
font-family: 'Poppins', sans-serif;
margin-top: 30px;
font-size: 20px;

}

input{
    display: none;
}
#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}
.boton-de-ataque{
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#mensajes{
    width: 280px;
    background: pink;
    padding: 8px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar{
    background-color:wheat;
    border: none;
    color:#00005C;
    font-family: 'Poppins', sans-serif;  
}
.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}

#vidas-jugador, #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
}
.ataques-jugador, .ataques-enemigo{
  display: flex;
  flex-direction: column;
  align-items: center;   
}
@media (max-width: 460px) {

    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
}